/* //////////////////////////////////////// */
/* BUTTONS */
/* //////////////////////////////////////// */
.btn-small:link,
.btn-small:visited {
  background-color: var(--primary-3);
  display: inline-block;
  padding: 1rem 3rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.5s;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
}

.btn-small:hover,
.btn-small:focus {
  background-color: #3aafaa;
}

/* //////////////////////////////////////// */
/*Project btn*/
/* //////////////////////////////////////// */

.btn-project {
  padding: 0.8rem 1.7rem !important;
  border-radius: 15px !important;
}

/* //////////////////////////////////////// */
/* Upwork btn */
/* //////////////////////////////////////// */

.content__btn {
  font-size: 1.6rem;
  font-weight: 600;
  width: 210px;
  height: 5.4rem;
  text-align: center;
  margin-left: 1rem;
  color: #ffffff;
  background: transparent;
  border: 0.1rem solid #ffffff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.content__btn:hover,
.content__btn:focus {
  background: #ffffff;
  color: #000000;
}

/* //////////////////////////////////////// */
/* Hero Section Btn*/
/* //////////////////////////////////////// */

.btn-hero {
  margin-top: 2rem;
}

@media only screen and (min-width: 992px) {
  .btn-hero {
    display: none !important;
  }
}

/* //////////////////////////////////////// */
/* Mobile Menu button*/
/* //////////////////////////////////////// */

/* Desktop btn */
@media only screen and (max-width: 992px) {
  .navbar__btn {
    display: none !important;
  }
}

/* Mobile btn */
.nav-btn {
  display: none;
  border: none;
  border-radius: 0;
  background-color: #2a7a78;
  height: 2px;
  width: 3.8rem;
}

.nav-btn::before,
.nav-btn::after {
  background-color: #2a7a78;
  height: 2px;
  width: 3.8rem;
  content: "";

  /* display: block; */
}

.nav-btn::before {
  transform: translateY(-1.2rem);
}
.nav-btn::after {
  transform: translateY(1rem);
}

@media only screen and (max-width: 992px) {
  .nav-btn {
    display: block;
    margin-right: 2.8rem;
  }

  .nav-btn::before,
  .nav-btn::after {
    display: block;
  }
}
