/* //////////////////////////////////////// */
/* BUTTONS */
/* //////////////////////////////////////// */
.btn-small:link,
.btn-small:visited {
  background-color: var(--primary-3);
  display: inline-block;
  padding: 1rem 3rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.5s;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
}

.btn-small:hover,
.btn-small:focus {
  background-color: #3aafaa;
}

/* //////////////////////////////////////// */
/*Project btn*/
/* //////////////////////////////////////// */

.btn-project {
  padding: 0.8rem 1.7rem !important;
  border-radius: 15px !important;
}

@media only screen and (max-width: 992px) {
  .btn-project {
    padding: 0.5rem 0.8rem !important;
    border-radius: 8px !important;
    font-size: 1.8rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .btn-project {
    padding: 0.8rem 1.7rem !important;
    border-radius: 15px !important;
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 330px) {
  .btn-project {
    padding: 0.5rem 0.6rem !important;
    border-radius: 8px !important;
  }
}

/* //////////////////////////////////////// */
/* Upwork btn */
/* //////////////////////////////////////// */

.content__btn {
  width: 210px;
  height: 5.4rem;
  text-align: center;
  margin-left: 1rem;
  background: transparent;
  border: 0.1rem solid #ffffff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.content__btn:hover,
.content__btn:focus {
  background: #ffffff;
  color: #000000;
}

/* //////////////////////////////////////// */
/* Hero Section Btn*/
/* //////////////////////////////////////// */

.btn-hero {
  display: none !important;
}

@media only screen and (max-width: 992px) {
  .btn-hero {
    display: inline-block !important;
    margin-top: 2rem;
    padding: 0.8rem 1.7rem !important;
    border-radius: 15px !important;
  }
}

/* //////////////////////////////////////// */
/* Mobile Menu button*/
/* //////////////////////////////////////// */

.nav-btn {
  display: none;
}

@media only screen and (max-width: 992px) {

  /* Desktop btn */
  .navbar__Desktop-btn {
    display: none !important;
  }

  /* Mobile hamburger  btn */
  .nav-btn {
    display: block;
    border: none;
    border-radius: 0;
    background-color: #2a7a78;
    height: 2px;
    width: 3.8rem;
    margin-right: 2.8rem;
  }

  .nav-btn::before,
  .nav-btn::after {
    background-color: #2a7a78;
    height: 2px;
    width: 3.8rem;
    content: "";
    display: block;
  }

  .nav-btn::before {
    transform: translateY(-1.2rem);
  }

  .nav-btn::after {
    transform: translateY(1rem);
  }
}