/* xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px */

/* //////////////////////////////////////// */
/* GLOBAL STYLING */
/* //////////////////////////////////////// */

.section {
  padding: 6rem 3rem;
}

@media only screen and (max-width: 573px) {
  .section {
    padding: 6rem 2rem;
  }
}

/* //////////////////////////////////////// */
/* NAVBAR */
/* //////////////////////////////////////// */

.navbar-container {
  width: 100%;
  background-color: #def0f1;
}

.navbar {
  max-width: 122rem;
  padding: 0rem 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  height: 7.5rem;
  padding: 1rem 0rem;
  /* margin-left: 1rem; */
}

@media only screen and (max-width: 850px) {
  .navbar__logo {
    height: 8rem;
    padding: 1rem 0rem;
    margin-left: 2.8rem;
  }
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
}

@media all and (max-width: 991px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 20%;
    background: var(--primary-3);
    z-index: 2;
    padding: 100px 0px;
    transform: scale(0);
    transition: 0.6s all ease;
    top: 80px;
  }

  .active {
    transform: scale(1);
  }

  .navbar {
    padding: 0rem 0rem;
  }
}

/* @media only screen and (max-width: 992px) {
  .navigation {
    display: none;
  }
} */

.navigation__item:not(:last-of-type) {
  margin-right: 5rem;
}

@media all and (max-width: 991px) {
  .navigation__item:not(:last-of-type) {
    margin-right: 0rem;
    margin-bottom: 0.7rem;
  }
}

.navigation__link {
  font-weight: 500;
  font-style: normal;
  color: var(--primary-4);
  text-decoration: none;
  font-size: 2rem;
}

@media only screen and (min-width: 1400px) {
  .navigation__link {
    font-size: 2.3rem;
  }
}

@media all and (max-width: 991px) {
  .navigation__link {
    color: white;
  }
}

/* //////////////////////////////////////// */
/* HERO SECTION */
/* //////////////////////////////////////// */
.hero {
  min-height: 90vh;
}

@media only screen and (min-width: 1500px) {
  .hero {
    min-height: 50vh;
  }
}

.hero__name {
  font-weight: bold;
  font-style: normal;
  color: #a1a1a1;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.hero__name-first {
  font-weight: 500;
  font-style: normal;
  color: #a7a7a7;
  font-size: 3rem;
}

.hero__dev {
  font-weight: 500;
  font-style: normal;
  color: var(--primary-4);
  font-size: 2.5rem;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 557px) {
  .hero__name {
    font-size: 2rem;
  }
  .hero__name-first {
    font-size: 2rem;
  }
  .hero__dev {
    font-size: 1.5rem;
  }
}

.hero__grid {
  max-width: 95rem;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

@media only screen and (max-width: 1000px) {
  .hero__grid {
    grid-template-columns: 1fr;
  }
}

.hero__content {
  padding-top: 4rem;
}

.hero__imgContainer {
  position: relative;
}

.hero__img1,
.hero__img2,
.hero__img3 {
  position: absolute;
}

.hero__img1 {
  top: 6rem;
  left: 7rem;
  width: 2.5rem;
}

.hero__img2 {
  top: -1rem;
  left: -22rem;
  width: 30rem;
}

.hero__img3 {
  top: 9rem;
  left: 10rem;
  width: 3.3rem;
}

@media only screen and (max-width: 1000px) {
  .hero__img1,
  .hero__img2,
  .hero__img3 {
    display: none;
  }
}

/* // Hero Image Section  */

.hero__img-section {
  padding-bottom: 4rem;
}

.hero__img {
  display: block;
  margin: auto;
  height: 60vh;
}

@media only screen and (max-width: 600px) {
  .hero__img {
    height: 50vh;
    width: 70%;
  }
}

@media only screen and (min-width: 1400px) {
  .hero__img {
    height: 40vh;
    margin-bottom: 5rem;
  }
}

/* //////////////////////////////////////// */
/* ABOUT US */
/* //////////////////////////////////////// */
.about-container {
  background-color: hsl(183, 40%, 96%);
}

.about {
  max-width: 95rem;
  margin: 0rem auto;
}

.about > * {
  margin-bottom: 2.8rem;
}

.about__title {
  margin-bottom: 4rem;
}

/* //////////////////////////////////////// */
/* EXPERIENCE WITH */
/* //////////////////////////////////////// */

.experience {
  max-width: 96rem;
  margin: 0rem auto;
}

.experience__img-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.experience__img {
  display: block;
  margin: auto;
  height: 60vh;
}

@media only screen and (max-width: 600px) {
  .experience__img {
    height: 50vh;
    width: 85%;
  }
}

@media only screen and (min-width: 1400px) {
  .experience__img {
    height: 40vh;
    margin-bottom: 5rem;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills__item {
  max-width: 110px;
  max-height: 110px;
  margin: 3rem 2rem;
  transition: all 1s;
}

@media only screen and (max-width: 920px) {
  .skills__item {
    margin: 2rem 1.5rem;
  }
}

.skills__item:hover {
  transform: rotate(360deg);
}

#bootstrap__icon {
  max-width: 124px;
}

/* //////////////////////////////////////// */
/* EXPERIENCE WITH */
/* //////////////////////////////////////// */

.portfolio-section {
  background-color: hsl(183, 40%, 96%);
}

.portfolio-section__title {
  text-align: center;
}

.portfolio-grid {
  max-width: 100rem;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 4rem 5rem;
}

.project {
  background-color: var(--primary-3);
}

.project__img {
  object-fit: cover;
  height: 20rem;
  width: 100%;
  display: block;
}

.projectC__title {
  margin: 2rem 0rem 0rem 1.4rem;
}

.projectC__skills p {
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #ffffff;
  padding: 1.4rem;
}

.projectC__btn {
  background-color: var(--primary-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
}

.projectC__btn > a {
  font-size: 2rem;
}

/* //////////////////////////////////////// */
/* UPWORK */
/* //////////////////////////////////////// */

.upwork {
  padding: 15rem 15rem;
  background-color: var(--primary-4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 920px) {
  .upwork {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15rem 0rem;
  }
}

.upwork__logo {
  width: 22rem;
}

.upwrok__content {
  margin-left: 5rem;
}

@media only screen and (max-width: 920px) {
  .upwork__logo {
    width: 18rem;
  }
  .upwrok__content {
    text-align: center;
    margin-left: 0rem;
    margin-top: 2rem;
  }
  .upwrok__content > h2 {
    font-size: 2rem !important;
  }
}

/* @media only screen and (max-width: 920px) {
  .upwrok__content {
    margin-left: 0rem;
  }
} */

.upwork h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: 3rem;
}

/* //////////////////////////////////////// */
/* FFOOTER */
/* //////////////////////////////////////// */

.footer {
  padding: 15rem 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: 3rem;
  margin-bottom: 2.9rem;
  color: var(--primary-4);
}

.footer__icon-div {
  margin-bottom: 0.4rem;
}

.footer__icon {
  font-size: 3rem;
  margin: 0rem 1.3rem;
  color: var(--primary-4);
}

.footer__icon:hover {
  cursor: pointer;
}

.footer__privacy {
  font-weight: 300;
  font-style: normal;
  color: var(--primary-4);
  font-size: 1.8rem;
  margin-top: 1rem;
}
